<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital Mixer</title>

  <link rel="stylesheet" href="/CSS/Style.css">
</head>

<body>

<header>DIGITAL MIXER — 16 CHANNELS</header>

<div class="mixer" id="mixer"></div>

<script src="/js/mixer.js"></script>
</body>
</html>
